{% extends "base-admin.html" %}
{% load core_template %}
{% load static %}
{% block content %}      
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title"><i class="mdi mdi-history"></i>&nbsp;&nbsp;配信履歴</h4>
                <a href="{% url 'broadcast:message-view'%}" class="btn btn-primary btn-sm mb-1"><i class="mdi mdi-near-me"></i>&nbsp;&nbsp;メッセージ配信</a>
            </div>
        </div>
    </div>     
    <!-- end page title -->
    <!-- start content -->
    <div class="row">
        <div class="col-xl-12 col-lg-12">            
            <div class="card shadow">
                <div class="card-body userlist">
                    <table class="table table-hover table-scrollable">
                        <thead class="card-header py-3">                                
                            <th>内容</th>
                            <th>ターゲット</th>
                            <th>配信人数</th> 
                            <th>配信日時</th>                            
                            <th>メニュー</th>                                
                        </thead>
                        <tbody>
                            {% for obj in object_list %}
                            <tr data-index="{{obj.id}}" class="list-item">
                                <td>{{ obj.content|truncatechars:10}}</td>
                                <td>{{obj.target}}</td>                                
                                <td>{{ obj.customer.all|length }}</td>                                
                                <td>{{ obj.created_at }}</td>                                                        
                                <td >
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a data-toggle="modal" data-target="#detailmodal_{{ obj.id }}"><i class="mdi mdi-eye"></i></a>
                                        </li>
                                        <div class="modal fade" id="detailmodal_{{ obj.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4>配信内容</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table table-borderless table-sm">
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row">メッセージ :</th>
                                                                <td class="text-muted">{{obj.content}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">送信先 :</th>
                                                                <td class="text-muted">
                                                                    {%for customer in obj.customer.all%}
                                                                    <span class="badge badge-primary badge-pill">{{customer.name}}</span>
                                                                    {%endfor%}
                                                                </td>
                                                            </tr>                                                                                             
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            </div>
                                        </div>                                   
                                        <li class="list-inline-item">
                                            <a data-toggle="modal" data-target="#deletemodal_{{ obj.id }}"><i class="mdi mdi-delete"></i></a>
                                        </li>
                                        <div class="modal fade" id="deletemodal_{{ obj.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4>本当に削除しますか?</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>
                                                <form action="{% url 'broadcast:broadcast-delete' pk=obj.id %}" method="POST" enctype="multipart/form-data">   
                                                    {% csrf_token %}                                     
                                                    <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">キャンセル</button>
                                                    <button type="submit" class="btn btn-primary">はい</button>
                                                    </div>
                                                </form>
                                            </div>
                                            </div>
                                        </div>
                                    </ul>                                
                                </td>                                
                                
                                                               
                            </tr>
                            {% endfor %}
                        </tbody>
                        
                    </table>

                    <!--Pagination-->
                    {% if is_paginated %}
                    <nav class="d-flex justify-content-center wow fadeIn">
                        <ul class="pagination pg-blue">
                        {% if page_obj.has_previous %}
                        <li class="page-item btn-prev">
                            <a
                            class="page-link"
                            href="?page={{ page_obj.previous_page_number }}"
                            aria-label="Previous"
                            >
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                            </a>
                        </li>                        
                        {% endif %}
                        
                        {% for i in page_obj.paginator.page_range %}
                            {% if page_obj.number == i %}
                            <li class="page-item active">
                            <a class="page-link" href="?page={{ page_obj.number }}"
                                >{{ i }}
                                <span class="sr-only">(current)</span>
                            </a>
                            </li>
                            {%else%}
                                {% if i > page_obj.number|add:"-2" and i < page_obj.number|add:"2" %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ i }}"
                                    >{{ i }}        
                                    </a>
                                </li>
                                {% endif %}                                
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li class="page-item btn-next">
                            <a
                            class="page-link"
                            href="?page={{ page_obj.next_page_number }}"
                            aria-label="Next"
                            >
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                            </a>
                        </li>
                        {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- end content -->
</div> <!-- container -->

{% endblock content %}
{% block scripts %}
<script>    
    
</script>
{% endblock %}